# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


*.env           // we kept this file in .gitignore so to ignore this file so that whenever we push our changes to github this environment file (in short form called .env file) will not be pushed in your github projct repository u are working on!  This way your secrets are secured.
secrets/key.json         // we have added this here to secure our sensitive files. This way our files will be secured hidden from everyone only you know it. This is just for testing. For real production these secrets sensitive files must be stored in the server side.