<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6ys2nNgFsKdq-AXL785FAphWRxfWfujo</string>
	<key>GCM_SENDER_ID</key>
	<string>856936215607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharebridge.sharebridge</string>
	<key>PROJECT_ID</key>
	<string>sharebridge-2668c</string>
	<key>STORAGE_BUCKET</key>
	<string>sharebridge-2668c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856936215607:ios:3c3bbfb63a656830f0fbb2</string>
</dict>
</plist>